---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -modernize-use-trailing-return-type,
        -readability-else-after-return,
        -readability-avoid-const-params-in-decls,
        -misc-no-recursion,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -readability-math-missing-parentheses,
        -bugprone-easily-swappable-parameters
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'